<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance"
 xsi:noNamespaceSchemaLocation="log4j2.xsd" status="WARN" strict="true"
    xmlns="http://logging.apache.org/log4j/2.0/config">

    <Appenders>
         Console log 
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss}] [%p] %c{1} - %m%n"/>
        </Console>

         File log 
        <File name="FileLogger" fileName="logs/app.log" append="true">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss}] [%p] %c{1} - %m%n"/>
        </File>
    </Appenders>

    <Loggers>
        <Root level="all">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileLogger"/>
        </Root>
    </Loggers>
</Configuration>
